@import url('https://fonts.googleapis.com/css?family=Coiny');

body {
  display: flex;
  background-color: #F5F5F5;
  padding: 0;
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100vw;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 2rem;
  display: flex;

  border: none;
  background-color: #A74141;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 20em;
  padding:1em;

  text-decoration: none;
  color: white;
  font-family: 'Inter' sans-serif;
  font-size: 1rem;
  justify-content: center;

  cursor: pointer;
}

.text-input {
  border: 0;
  width: 30em;
  padding: 1.5em;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.button-loading-spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: spin 0.5s ease-in-out infinite;
  -webkit-animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* 
 * Moved from _variables.scss.
 * Any actual rulesets will be duplicated if placed in _variables because it is imported in
 * every component.
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
