@import url('https://fonts.googleapis.com/css?family=Coiny');

body {
  display: flex;
  background-color: #F5F5F5;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 2rem;
  display: flex;

  border: none;
  background-color: #A74141;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 20em;
  padding:1em;

  text-decoration: none;
  color: white;
  font-family: 'Inter' sans-serif;
  font-size: 1rem;
  justify-content: center;

  cursor: pointer;
}
